* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SF PRO Display;
  src: url(/Font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SF Thin;
  src: url(/font/FontsFree-Net-SFProDisplay-Thin.ttf);
}

@font-face {
  font-family: Figtree;
  src: url(/Font/Figtree-Regular.otf);
}

:root {
  --primary-font: SF PRO Display;
  --Figtree: Figtree;
  --SF: SF Thin;
  --text-color: #9d9d9d;
  --primary-color: #989898;
  --product-card: #f6f6f6;
  --footer-text: #cfcfcf;
  --star-color: #ffb547;
  --progress-bar: #d9d9d9;
}

/* NAV SECTION STYLING */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  padding: 0 5rem;
  border-bottom: 1px solid #b5b5b5;
}

.cyber-logo {
  width: 65.4px;
  height: 22.87px;
}

.cyber-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search {
  width: 372px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 14px;
  border-radius: 7px;
  background-color: #e6e6e6bc;
}

.search-input {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: #000000bc;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-input::placeholder {
  color: #656565;
  font-family: var(--primary-font);
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.nav-links a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.5em;
  color: var(--primary-color);
  font-weight: 500;
}

.nav-links a:hover {
  color: #000;
  transition: all 0.5s;
}

.nav-links ul > li:first-of-type a {
  color: #000;
}

.nav-icons {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.navicon {
  width: 20px;
  height: 100%;
}

.navicon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ONE STYLING */
.one {
  width: 100%;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-inner {
  width: 1120px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-img {
  width: 24px;
  height: 24px;
}

.address-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.address-text {
  width: 128px;
  height: 100%;
  line-height: 1.2;
}

.address-text p {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 500;
}

.address-text span {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.5em;
}

.address:nth-child(2) .address-text {
  opacity: 0.2;
}

.address:nth-child(3) .address-text {
  opacity: 0.2;
}
