@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SF PRO Display;
  src: url(/Font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SF Thin;
  src: url(/font/FontsFree-Net-SFProDisplay-Thin.ttf);
}

@font-face {
  font-family: Figtree;
  src: url(/Font/Figtree-Regular.otf);
}

:root {
  --primary-font: SF PRO Display;
  --Figtree: Figtree;
  --SF: SF Thin;
  --text-color: #9d9d9d;
  --primary-color: #989898;
  --product-card: #f6f6f6;
  --footer-text: #cfcfcf;
  --star-color: #ffb547;
  --progress-bar: #d9d9d9;
}

/* NAV SECTION STYLING */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  padding: 0 5rem;
  border-bottom: 1px solid #b5b5b5;
}

.cyber-logo {
  width: 65.4px;
  height: 22.87px;
}

.cyber-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search {
  width: 372px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 14px;
  border-radius: 7px;
  background-color: #e6e6e6bc;
}

.search-input {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: #000000bc;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-input::placeholder {
  color: #656565;
  font-family: var(--primary-font);
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.nav-links a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.5em;
  color: var(--primary-color);
  font-weight: 500;
}

.nav-links a:hover {
  color: #000;
  transition: all 0.5s;
}

.nav-links ul > li:first-of-type a {
  color: #000;
}

.nav-icons {
  width: 120px;
  height: 30px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
}

.navicon {
  width: 20px;
  height: 100%;
  /* border: 1px solid #000; */
}

.navicon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SHOPPING CART STYLING */
.shopping-cart {
  width: 100%;
  height: 880px;
  display: grid;
  place-items: center;
}

.shopping-cart-container {
  width: 1120px;
  height: 656px;
  display: flex;
  justify-content: space-between;
}

.shop-cart {
  width: 536px;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-cart h3 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--primary-font);
}

.cart-product-container {
  width: 100%;
  height: 526px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #a3a3a39a;
}

.cart-product {
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product-image {
  width: 90px;
  height: 90px;
}

.cart-product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-product-info {
  width: 431px;
  height: 80px;
  display: flex;
  align-items: center;
}

.info-left {
  width: 193px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info-left h3 {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5;
}

.info-left p {
  font-size: 1.2em;
  font-weight: 500;
  font-family: var(--primary-font);
}

.info-right {
  width: 238px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-right h2 {
  font-family: var(--primary-font);
  font-size: 1.25em;
  font-weight: 600;
}

.info-value {
  width: 104px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-value button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info-value button > i {
  font-size: 1.2rem;
  color: black;
}

.info-value p {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 600;
  border: 0.5px solid #d9d9d9;
  width: 40px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.info-cancel {
  width: 24px;
  height: 24px;
}

.info-cancel button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info-cancel button > i {
  font-size: 2em;
  color: black;
}

/* ORDER SUMMARY*/
.order-summary {
  width: 536px;
  height: inherit;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 3.5rem 4rem;
  gap: 2.5rem;
}

.order-summary h3 {
  font-size: 1.35em;
  font-family: var(--primary-font);
  font-weight: 700;
}

.summary-inner {
  width: 408px;
  height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.discount {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount p {
  font-size: 1em;
  font-family: var(--primary-font);
  font-weight: 500;
  color: #545454;
}

.discount input {
  width: 100%;
  height: 56px;
  border: 0.5px solid #9f9f9f;
  border-radius: 7px;
  outline: none;
  padding: 16px 0 16px 16px;
}

.discount input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #979797;
}

.bonus-card {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bonus-card p {
  font-size: 1em;
  font-family: var(--primary-font);
  font-weight: 500;
  color: #545454;
}

.bonus-card-inner {
  width: 100%;
  height: 64px;
  border: 0.5px solid #9f9f9f;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.bonus-card-inner input {
  width: 299px;
  height: 24px;
  outline: none;
  background-color: transparent;
  border: none;
}

.bonus-card-inner input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #979797;
}

.bonus-card-inner button {
  width: 76.45px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 1.2em;
  font-family: var(--primary-font);
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.sub-total {
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-1 {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-1 h4,
.price-1 p {
  font-size: 1.2em;
  font-weight: 600;
  font-family: var(--primary-font);
}

.taxes {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-2 {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-2 h4 {
  font-size: 1.2em;
  font-weight: 400;
  color: #545454;
  font-family: var(--primary-font);
}

.price-2 p {
  font-size: 1.2em;
  font-weight: 600;
  color: #000;
  font-family: var(--primary-font);
}

.summary-btn {
  width: 100%;
  height: 56px;
  border: none;
  background-color: #000;
  border-radius: 6px;
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

/* FOOTER STYLING */

footer {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: grid;
  place-content: center;
}

.footer-container {
  width: 1120px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.footer-info {
  width: 384px;
  height: 95px;
  line-height: 1.5;
}

.footer-info p {
  color: var(--footer-text);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  padding-top: 2em;
  font-weight: 500;
}

.footer-nav {
  width: 295.5px;
  height: 100%;
}

.footer-nav h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  font-family: var(--primary-font);
}

.footer-nav ol {
  line-height: 3;
}

.footer-nav ol li {
  list-style-type: none;
}

.footer-nav a {
  text-decoration: none;
  color: var(--footer-text);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 400;
}

.footer-socials {
  width: 173px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
