@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SF PRO Display;
  src: url(/Font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SF Thin;
  src: url(/font/FontsFree-Net-SFProDisplay-Thin.ttf);
}

@font-face {
  font-family: Figtree;
  src: url(/Font/Figtree-Regular.otf);
}

:root {
  --primary-font: SF PRO Display;
  --Figtree: Figtree;
  --SF: SF Thin;
  --text-color: #9d9d9d;
  --primary-color: #989898;
  --product-card: #f6f6f6;
  --footer-text: #cfcfcf;
  --star-color: #ffb547;
  --progress-bar: #d9d9d9;
}

/* NAV SECTION STYLING */
nav {
  width: 100%;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid #b5b5b5;
  z-index: 100;
  background-color: #fff;
  top: 0;
  padding: 0 6%;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  padding: 0 1rem;
  width: 100%;
  min-height: 80px;
  margin-inline: auto;
  /* z-index: 100; */
}
.cyber-logo {
  width: 65.4px;
  height: 22.87px;
}

.cyber-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search {
  width: 372px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 14px;
  border-radius: 7px;
  background-color: #e6e6e6bc;
  /* position: relative; */
}

.search-input {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: #000000bc;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-input::placeholder {
  color: #656565;
  font-family: var(--primary-font);
}

.nav-links ul {
  list-style-type: none;
  display: inline-flex;
  /* justify-content: space-between; */
  width: 300px;
}

.nav-links a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 500;
  margin: 0 1rem;
  /* border: 1px solid red; */
}

.nav-links a:hover {
  color: #000;
  transition: all 0.5s;
}

.nav-links ul > li:first-of-type a {
  color: #000;
}

.nav-icons {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.navicon {
  width: 20px;
  height: 100%;
}

.navicon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-icon {
  display: none;

  /* display: flex; */
  position: relative;
}

.menu-icon i:last-child {
  display: none;
}

.menu-icon i {
  font-size: 1.5rem;
}

.menu-container-mobile {
  width: 50vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 14%;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* FOR MOBILE */
@media (max-width: 1042px) {
  .menu-container-mobile {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 14%;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 3rem;
    /* display: block; */
  }

  .nav-container {
    padding: 0 2rem;
  }
  .nav-links ul {
    display: none;
  }

  .menu-icon {
    display: flex;
    z-index: 500;
  }

  .mobile-search-icon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav-icons {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    gap: 3rem;
    padding: 1rem;
  }

  .mobile-nav-icons i {
    color: #fff;
    font-size: 2rem;
  }
  .mobile-nav-links {
    width: 100%;
    text-align: center;
    font-family: var(--primary-font);
    color: #fff;
  }

  .mobile-nav-links ul li {
    margin-bottom: 1rem;
  }

  .mobile-nav-links ul li a {
    color: #fff;
    letter-spacing: 1;
  }
}

@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }

  .mobile-search {
    width: 372px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 14px;
    border-radius: 7px;
    background-color: #e6e6e6bc;
    /* position: relative; */
  }

  .mobile-search-icon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav-icons {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .menu-icon {
    display: block;
  }

  .search-input {
    font-size: 1.3rem;
    font-family: var(--primary-font);
    color: #000000bc;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
  }

  .search-input::placeholder {
    color: #656565;
    font-family: var(--primary-font);
  }

  .mobile-search {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 14px;
    border-radius: 7px;
    background-color: #ffffff;
    /* position: relative; */
  }

  .mobile-search-icon {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .mobile-nav-icons {
    /* display: flex; */
    width: 100%;
    height: 50px;
    padding: 1rem;
    gap: 3rem;
  }
}

@media (max-width: 831px) {
  .search,
  .nav-icons {
    display: none;
  }
}

/* SHOPPING CART STYLING */
.shopping-cart {
  width: 100%;
  padding: 3rem 1rem;
  min-height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.shopping-cart-container {
  max-width: 1120px;
  width: 100%;
  border: 1px solid red;
  min-height: 656px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-cart {
  max-width: 536px;
  width: 100%;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid green;
}

.shop-cart h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--primary-font);
}

.cart-product-container {
  max-width: 100%;
  height: 526px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
}

.line {
  max-width: 100%;
  height: 0.5px;
  background-color: #a3a3a39a;
}

.cart-product {
  width: 100%;
  min-height: 122px;
  /* gap: 1rem; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.cart-product-image {
  width: 90px;
  height: 90px;
  padding: 1rem;
}

.cart-product-image img {
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}

.cart-product-info {
  max-width: 431px;
  min-height: 80px;
  flex-wrap: wrap;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.info-left {
  max-width: 193px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 1.2em;
}

.info-left h3 {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5;
}

.info-left p {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--primary-font);
}

.info-right {
  width: 238px;
  height: 32px;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-right h2 {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 600;
}

.info-value {
  width: 104px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-value button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info-value button > i {
  font-size: 1.2rem;
  color: black;
}

.info-value p {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 600;
  border: 0.5px solid #d9d9d9;
  width: 40px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.info-cancel {
  width: 24px;
  height: 24px;
}

.info-cancel button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info-cancel button > i {
  font-size: 2rem;
  color: black;
}

/* ORDER SUMMARY*/
.order-summary {
  max-width: 536px;
  width: 100%;
  height: inherit;
  /* border: 1px solid #ebebeb; */
  border: 1px solid yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 3.5em 4em;
  gap: 2.5em;
}

.order-summary h3 {
  font-size: 1.35rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.summary-inner {
  max-width: 408px;
  height: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.discount {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discount p {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 500;
  color: #545454;
}

.discount input {
  width: 100%;
  height: 56px;
  border: 0.5px solid #9f9f9f;
  border-radius: 7px;
  outline: none;
  padding: 16px 0 16px 16px;
}

.discount input::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #979797;
}

.bonus-card {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bonus-card p {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 500;
  color: #545454;
}

.bonus-card-inner {
  width: 100%;
  height: 64px;
  border: 0.5px solid #9f9f9f;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 7px;
}

.bonus-card-inner input {
  width: 299px;
  height: 24px;
  outline: none;
  background-color: transparent;
  border: none;
}

.bonus-card-inner input::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #979797;
}

.bonus-card-inner button {
  width: 76.45px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.sub-total {
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-1 {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-1 h4,
.price-1 p {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--primary-font);
}

.taxes {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-2 {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-2 h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #545454;
  font-family: var(--primary-font);
}

.price-2 p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  font-family: var(--primary-font);
}

.summary-btn {
  width: 100%;
  height: 56px;
  border: none;
  background-color: #000;
  border-radius: 6px;
  color: #ffffff;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 450px) {
  .shop-cart {
    padding: 0 1rem;
  }

  .cart-product-info {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cart-product-image {
    width: 90px;
    height: 90px;
  }

  .info-left {
    max-width: 236px;
  }

  .info-left h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  .info-left p {
    font-size: 1rem;
  }

  .info-right {
    width: 100%;
  }
  .info-right h2 {
    font-size: 1rem;
    font-weight: 500;
  }

  .info-right p {
    font-size: 1rem;
  }

  .info-right button i {
    font-size: 1rem;
  }

  .cart-product {
    width: 100%;
  }
  .order-summary {
    padding: 0 1rem;
    margin-top: 3rem;
    font-size: 1rem;
  }

  .order-summary h3 {
    font-size: 1.2rem;
  }

  .discount input::placeholder {
    font-size: 0.8rem;
  }

  .bonus-card-inner input::placeholder {
    font-size: 0.8rem;
  }

  .bonus-card-inner button {
    font-size: 0.8rem;
  }

  .price-1 h4,
  .price-2 h4,
  .price-1 p,
  .price-2 p {
    font-size: 1rem;
  }
}

/* FOOTER STYLING */

footer {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: grid;
  place-content: center;
}

.footer-container {
  width: 1120px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.footer-info {
  width: 384px;
  height: 95px;
  line-height: 1.5;
}

.footer-info p {
  color: var(--footer-text);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  padding-top: 2em;
  font-weight: 500;
}

.footer-nav {
  width: 295.5px;
  height: 100%;
}

.footer-nav h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  font-family: var(--primary-font);
}

.footer-nav ol {
  line-height: 3;
}

.footer-nav ol li {
  list-style-type: none;
}

.footer-nav a {
  text-decoration: none;
  color: var(--footer-text);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 400;
}

.footer-socials {
  width: 173px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
