* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  overflow-x: hidden;
  font-family: var(--primary-font);
}

@font-face {
  font-family: SF PRO Display sans-serif sans-serif;
  src: url(./Font/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SF Thin sans-serif;
  src: url(./font/FontsFree-Net-SFProDisplay-Thin.ttf);
}

@font-face {
  font-family: Figtree;
  src: url(./Font/Figtree-Regular.otf);
}

:root {
  --primary-font: SF PRO Display sans-serif sans-serif;
  --Figtree: Figtree;
  --SF: SF Thin;
  --text-color: #909090;
  --primary-color: #989898;
  --product-card: #f6f6f6;
  --footer-text: #cfcfcf;
}

/* NAV SECTION STYLING */
nav {
  width: 100%;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid #b5b5b5;
  z-index: 100;
  background-color: #fff;
  top: 0;
  padding: 0 6%;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  padding: 0 1rem;
  width: 100%;
  min-height: 80px;
  margin-inline: auto;
  /* z-index: 100; */
}
.cyber-logo {
  width: 65.4px;
  height: 22.87px;
}

.cyber-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search {
  width: 372px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 14px;
  border-radius: 7px;
  background-color: #e6e6e6bc;
  /* position: relative; */
}

.search-input {
  font-size: 1.3rem;
  font-family: var(--primary-font);
  color: #000000bc;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-input::placeholder {
  color: #656565;
  font-family: var(--primary-font);
}

.nav-links ul {
  list-style-type: none;
  display: inline-flex;
  /* justify-content: space-between; */
  /* width: 300px; */
}

.nav-links a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 500;
  margin: 0 1rem;
  /* border: 1px solid red; */
}

.nav-links a:hover {
  color: #000;
  transition: all 0.5s;
}

.nav-links ul > li:first-of-type a {
  color: #000;
}

.nav-icons {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.navicon {
  width: 20px;
  height: 100%;
}

.navicon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-icon {
  display: none;

  /* display: flex; */
  position: relative;
}

.menu-icon i:last-child {
  display: none;
}

.menu-icon i {
  font-size: 1.5rem;
}

.menu-container-mobile {
  width: 50vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 14%;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* FOR MOBILE */
@media (max-width: 1042px) {
  .menu-container-mobile {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 14%;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 3rem;
    /* display: block; */
  }

  .nav-container {
    padding: 0 2rem;
  }
  .nav-links ul {
    display: none;
  }

  .menu-icon {
    display: flex;
    z-index: 500;
  }

  .mobile-search-icon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav-icons {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    gap: 3rem;
    padding: 1rem;
  }

  .mobile-nav-icons i {
    color: #fff;
    font-size: 2rem;
  }
  .mobile-nav-links {
    width: 100%;
    text-align: center;
    font-family: var(--primary-font);
    color: #fff;
  }

  .mobile-nav-links ul li {
    margin-bottom: 1rem;
  }

  .mobile-nav-links ul li a {
    color: #fff;
    letter-spacing: 1;
  }
}

@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }

  .mobile-search {
    width: 372px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 14px;
    border-radius: 7px;
    background-color: #e6e6e6bc;
    /* position: relative; */
  }

  .mobile-search-icon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav-icons {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .menu-icon {
    display: block;
  }

  .search-input {
    font-size: 1.3rem;
    font-family: var(--primary-font);
    color: #000000bc;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
  }

  .search-input::placeholder {
    color: #656565;
    font-family: var(--primary-font);
  }

  .mobile-search {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 14px;
    border-radius: 7px;
    background-color: #ffffff;
    /* position: relative; */
  }

  .mobile-search-icon {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .mobile-nav-icons {
    /* display: flex; */
    width: 100%;
    height: 50px;
    padding: 1rem;
    gap: 3rem;
  }
}

@media (max-width: 831px) {
  .search,
  .nav-icons {
    display: none;
  }
}
/* HERO SECTION STYLING */
.hero {
  position: relative;
  max-width: 100%;
  /* min-height: 600px; */
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211c24;
}

@media (max-width: 900px) {
  /* .hero {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #211c24;
  } */
}

.hero-container {
  width: 1120px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  /* gap: 4em; */
  margin-top: 5rem;
}

.hero-left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.2;
  max-width: 700px;
  height: 100%;
  margin-top: 10rem;
  align-items: flex-start;
  /* margin-left: 7em; */
}

.hero-left-side p {
  font-family: var(--Figtree);
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--text-color);
}
.hero-left-side h3 {
  font-family: var(--Figtree);
  line-height: 1;
  /* font-size: 8rem; */
  font-size: 6rem;
  color: #ffffff;
  font-weight: 100;
}

.hero-left-side h3 > span {
  font-family: var(--primary-font);
  /* font-size: 8rem; */
  font-size: 6rem;
  font-weight: 600;
  color: #ffffff;
}

.hero-left-side span {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--text-color);
}

.shop-now {
  padding: 12px 52px;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 500;
  border-radius: 7px;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  margin-top: 1.5rem;
}

.hero-right-side {
  max-width: 406px;
  height: 100%;
}

.hero-right-side img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

@media (max-width: 1042px) {
  .hero-container {
    padding: 0 3rem;
  }

  .hero-left-side h3 {
    font-size: 6rem;
  }
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }

  .hero-left-side {
    align-items: center;
    line-height: 1.5;
    margin-top: 0;
  }

  .shop-now {
    margin-top: 2em;
  }
}

@media (max-width: 450px) {
  .hero {
    min-height: 100dvh;
  }
  .hero-left-side {
    justify-content: space-between;
  }
  .hero-left-side {
    text-align: center;
    padding: 0 1.5rem;
  }

  .hero-left-side p {
    font-size: 1.5625rem;
  }

  .hero-left-side h3 {
    font-size: 4.5rem;
    line-height: 1.2;
  }

  .hero-left-side span {
    font-size: 1.1875rem;
  }

  .shop-now {
    padding: 1rem 3.5rem;
  }

  .hero-right-side {
    position: relative;
  }
}

/* HERO-2 STYLING SECTION */

.section-2 {
  max-width: 100%;
  height: 100%;
  position: relative;
  background: #ededed;
}

.section-2-container {
  max-width: 100%;
  height: 100%;
  /* border: 4px solid green; */
  position: relative;
  display: flex;
  align-items: center;
}

.first-content {
  max-width: 720px;
  height: 100%;
  position: relative;
}

.play5 {
  /* border: 2px solid blue; */
  width: 100%;
  height: 50%;
  gap: 0px;
  opacity: 0px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  background-color: #fff;
}

.play5img {
  max-width: 360px;
  height: 100%;
  gap: 0px;
  opacity: 0px;
}

.play5img .desktop-playstation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play5img .mobile-playstation {
  display: none;
}

.play5text {
  padding: 2rem;
}

.play5text h2 {
  font-size: 4rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

.play5text p {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.6;
}
.airopds-vision-container {
  /* border: 4px solid red; */
  max-width: 100%;
  height: 50%;
  display: flex;
  position: relative;
}

.airpods-max {
  width: 50%;
  height: 100%;
  /* border: 1px solid goldenrod; */
  display: flex;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  background: #ededed;
}

.airpods-text {
  padding: 3rem;
  /* border: 1px solid black; */
}

.airpods-text h4 {
  font-size: 1.8125rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.airpods-text h4 span {
  font-weight: 600;
}

.airpods-text p {
  color: #909090;
  font-size: 1rem;
  line-height: 1.5;
}

.vision-pro {
  width: 50%;
  /* height: 100%; */
  /* border: 1px solid goldenrod; */
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #353535;
}

.vision-text {
  padding: 3rem;
  /* border: 1px solid black; */
  color: #fff;
}

.vision-text h4 {
  font-size: 1.8125rem;
  font-weight: 400;
  /* max-width: 100px; */
  margin-bottom: 1rem;
  line-height: 1.2;
}

.vision-text h4 span {
  font-weight: 600;
}

.vision-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.airpods-img,
.vision-img {
  width: 500px;
  height: 100%;
  margin-left: -12rem;
  /* border: 1px solid greenyellow; */
}

.airpods-img img,
.vision-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transform: rotate(7deg);
}

.second-content {
  max-width: 720px;
  width: 50%;
  height: 100%;
  position: relative;
  /* border: 1px solid red; */
  /* background: red; */
  overflow: hidden;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-left: 2rem;
}

.second-content-text {
  /* padding: 3rem; */
  /* border: 3px solid red; */
  width: 360px;
  min-height: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-content-text-inner {
  width: 100%;
  height: 120px;
  /* border: 1px solid gold; */
}

.second-content-text-inner h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.second-content-text-inner h1 span {
  font-weight: 600;
}

.second-content-text-inner p {
  /* font-size: ; */
  color: #909090;
  line-height: 1.5;
  font-weight: 400;
}

.second-content-text button {
  font-size: 1.2rem;
  padding: 1rem 3.5rem;
  border: 1px solid black;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  /* margin-top: 1rem; */
}
.second-content-image {
  height: 502px;
  max-width: 292px;
  position: relative;
  margin-right: -7rem;
  /* border: 1px solid yellow; */
}

.second-content-image img {
  height: 100%;
  /* max-width: 100%;
  object-fit: contain; */
}

/* FOR MOBILE */
@media (max-width: 1428px) {
}

@media (max-width: 1210px) {
  .second-content {
    flex-wrap: wrap;
  }
  .second-content-text a {
    margin-top: 6rem;
  }
}

@media (max-width: 1025px) {
  .second-content-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media (max-width: 900px) {
}

@media (max-width: 450px) {
  .section-2-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .first-content {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
  .play5 {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 1rem;
  }

  .play5img {
    width: 200px;
    height: 200px;
  }

  .play5img .desktop-playstation {
    display: none;
  }

  .play5img .mobile-playstation {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .play5text {
    text-align: center;
    padding: 0;
  }

  .play5text h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .play5text p {
    font-size: 1rem;
    color: #909090;
  }

  .airopds-vision-container {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
  }

  .vision-pro,
  .airpods-max {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 376px;
  }

  .vision-img,
  .airpods-img {
    width: 192px;
    height: 200px;
    margin-left: 0;
  }

  .vision-img {
    width: 325px;
  }

  .vision-img img {
    transform: rotate(360deg);
  }

  .vision-text,
  .airpods-text {
    padding: 0 2rem;
    text-align: center;
    width: 100%;
  }

  .vision-text h4,
  .airpods-text h4 {
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
  }

  .vision-text p,
  .airpods-text p {
    font-size: 0.8rem;
    color: #909090;
  }

  .second-content {
    width: 100%;
    height: 504px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 3rem 0.75rem;
  }

  .second-content-text {
    width: 100%;
    /* height: 100%; */
    justify-content: space-between;
    text-align: center;
  }

  .second-content-text h1 {
    font-size: 3rem;
  }

  .second-content-text button {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 0;
    /* height: auto; */
  }

  .second-content-image {
    height: 200px;
    width: 330px;
    margin: 0;
  }
  .second-content-image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 361px) {
  .section-2-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .first-content {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }
  .play5 {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 1rem;
  }

  .play5img {
    width: 200px;
    height: 200px;
  }

  .play5img .desktop-playstation {
    display: none;
  }

  .play5img .mobile-playstation {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .play5text {
    text-align: center;
    padding: 0;
  }

  .play5text h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .play5text p {
    font-size: 1rem;
    color: #909090;
  }

  .airopds-vision-container {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
  }

  .vision-pro,
  .airpods-max {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 376px;
  }

  .vision-img,
  .airpods-img {
    width: 192px;
    height: 200px;
    margin-left: 0;
  }

  .vision-img {
    width: 325px;
  }

  .vision-img img {
    transform: rotate(360deg);
  }

  .vision-text,
  .airpods-text {
    padding: 0 2rem;
    text-align: center;
    width: 100%;
  }

  .vision-text h4,
  .airpods-text h4 {
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
  }

  .vision-text p,
  .airpods-text p {
    font-size: 0.8rem;
    color: #909090;
  }

  .second-content {
    width: 100%;
    height: 504px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 3rem 0.75rem;
  }

  .second-content-text {
    width: 100%;
    /* height: 100%; */
    justify-content: space-between;
    text-align: center;
  }

  .second-content-text h1 {
    font-size: 2rem;
  }

  .second-content-text button {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 0;
    /* height: auto; */
  }

  .second-content-image {
    height: 200px;
    width: 330px;
    margin: 0;
  }
  .second-content-image img {
    width: 100%;
    height: 100%;
  }
}

/* CATERGORY STYLING */
.category {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  /* border: 2px solid blue; */
  padding: 64px 16px;
}

.category1 {
  width: 1120px;
  max-width: 100%;
  height: 32px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.category1 h4 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--primary-font);
}

.category-nav-icons i {
  font-size: 2rem;
}

.card-container {
  max-width: 100%;
  width: 1120px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 2em;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  /* padding: 0 1rem; */
}

.card-container a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-family: var(--primary-font);
}

.category-card {
  width: 150px;
  height: 128px;
  padding: 24px 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #ededed;
  border-radius: 10px;
  /* border: 1px solid blue; */
}

.category-card a {
  /* border: 1px solid black; */
  display: inline-block;
}

.category-card span {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 600;
}

.category-card i {
  font-size: 5rem;
}
.category-card-image {
  width: 60px;
  height: 60px;
}

.category-card-image img {
  width: 100%;
  height: 100%;
  object-position: contain;
}

/* FOR MOBILE */
@media (max-width: 1042px) {
  /* .category {
    max-width: 100%;
  } */
}

@media (max-width: 900px) {
}

@media (max-width: 450px) {
  .category-card {
    width: 185px;
  }

  .category-card-image {
    width: 48px;
    height: 48px;
  }

  .category-card-image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 415px) {
  .category-card {
    width: 170px;
  }
}

@media (max-width: 361px) {
  .category-card {
    width: 150px;
  }

  .card-container {
    width: 100%;
    /* row-gap: 1rem; */
  }
}

/* PRODUCT CONTAINER STYLING */

.product {
  width: 100%;
  min-height: 1000px;
  display: grid;
  place-content: center;
  /* border: 1px solid red; */
}

.product-tags {
  max-width: 1120px;
  height: 32px;
}

.product-tags ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  height: 100%;
  padding-top: 0.5em;
}

.product-tags li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 500;
  color: #8b8b8b;
}

.product-tags li:nth-of-type(1) a {
  color: #000000;
  position: relative;
}

.product-tags li:nth-of-type(1) a::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 20px;
  box-sizing: border-box;
}

.product-container {
  max-width: 1120px;
  min-height: 860px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 1em;
  /* border: 2px solid blue; */
}

.product-card {
  width: 268px;
  min-height: 432px;
  padding: 2rem;
  line-height: 1.5;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--product-card);
  border-radius: 7px;
  border: none;
  /* border: 2px solid rgb(168, 168, 251); */
}

.fav {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.fav img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-image {
  width: 160px;
  height: 160px;
  margin-top: 2em;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-inner {
  /* border: 1px solid black; */
  height: 100%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.product-name {
  margin-bottom: 1rem;
  font-size: 1.2em;
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 500;
}

.product-price {
  font-size: 2rem;
  font-family: var(--primary-font);
  font-weight: 600;
  text-align: center;
}

.product-btn {
  margin-top: 1rem;
  /* width: 100%; */
  width: 183px;
  padding: 1.5rem 4rem;
  height: 48px;
  border-radius: 7px;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.product-btn a {
  color: #fff;
  /* border: 1px solid rgb(255, 255, 255); */
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

@media (max-width: 450px) {
  .product {
    padding: 56px 12px;
  }

  .product-container {
    /* gap: 2rem; */
    /* display: flex; */
    justify-content: center;
  }
  .product-card {
    width: 180px;
    min-height: 352px;
    /* gap: 3rem; */
    padding: 24px 12px;
    /* position: relative; */
  }

  .product-image {
    margin-top: 3rem;
    width: 104px;
    height: 104px;
    /* border: 1px solid blue; */
  }

  .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .product-inner a {
    white-space: nowrap;
  }

  .product-btn {
    padding: 0.5rem 3rem;
    width: 100%;
  }
}

@media (max-width: 376px) {
  .product-card {
    width: 150px;
  }

  .product-inner a {
    font-size: 1rem;
    white-space: nowrap;
  }
}

@media (max-width: 361px) {
  .product-card {
    width: 155px;
    min-height: 352px;
    gap: 3rem;
    padding: 24px 12px;
    /* position: relative; */
  }
  .product-tags ul li a {
    font-size: 0.9rem;
  }

  .product-tags li:nth-of-type(1) a::after {
    width: 67px;
  }
  .product {
    width: 100%;
  }

  .product-name {
    font-size: 1rem;
    font-weight: 500;
  }

  .product-price {
    font-size: 1.5rem;
  }

  .product-btn a {
    font-size: 0.9rem;
    text-align: center;
    /* border: 1px solid white; */
    white-space: nowrap;
    /* width: 100%; */
  }
}

/* PRODUCT-BANNER */
.product-banner {
  width: 100%;
  height: 640px;
  display: flex;
}

.product-banner-container {
  width: 315px;
  height: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.product-banner-container:nth-of-type(2) {
  background-color: #f9f9f9;
}

.product-banner-container:nth-of-type(3) {
  background-color: #eaeaea;
}

.product-banner-container:nth-of-type(4) {
  background-color: #2c2c2c;
}

.product-banner-container:nth-of-type(4) h3 {
  color: #ffffff;
}

.product-banner-container:nth-of-type(4) button {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.banner-image {
  width: 250px;
  height: 300px;
  margin: 0;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-banner-container h3 {
  font-family: var(--primary-font);
  font-size: 2.1rem;
  font-weight: 300;
}

.product-banner-container p {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
  color: var(--text-color);
  line-height: 1.6;
}

.banner-btn {
  width: 184px;
  height: 56px;
  border-radius: 7px;
  font-family: var(--primary-font);
  color: #000000;
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.2rem;
  cursor: pointer;
}

/* DISCOUNT PRODUCTS STYLING */
.discount-product {
  width: 100%;
  min-height: 600px;
  display: grid;
  place-content: center;
}

.discount-text {
  width: 1120px;
  height: 32px;
}

.discount-text h3 {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 500;
}

.discount-product-card {
  width: 1120px;
  min-height: 432px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.296em;
  margin-top: 1rem;
}

/* BANNER 2 STYLING */

.banner-2 {
  width: 100%;
  height: 400px;
  background: linear-gradient(100.23deg, #2e2e2e 20%, #000000 98.65%);
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.banner-image1 {
  width: 400px;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.banner-image1 img {
  object-fit: contain;
}

.banner-image1 img:nth-of-type(1) {
  width: 338px;
  height: 116px;
  position: absolute;
  top: 0;
  left: 35%;
}

.banner-image1 img:nth-of-type(2) {
  width: 237px;
  height: 192px;
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 1;
}

.banner-image1 img:nth-of-type(3) {
  width: 345px;
  height: 252px;
  position: absolute;
  top: 40%;
  left: 0;
  transform: rotateY(180deg);
}

.banner-text {
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.banner-text-inner {
  width: 100%;
  height: 80px;
  display: grid;
  place-items: center;
}

.banner-text-inner h3 {
  font-family: var(--primary-font);
  font-size: 4.5rem;
  font-weight: 200;
  color: #ffffff;
  word-spacing: 0.1em;
}

.banner-text-inner span {
  font-weight: 600;
}

.banner-text-inner p {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: #787878;
  font-weight: 400;
}

.banner-text-btn {
  width: 184px;
  height: 56px;
  border-radius: 7px;
  font-family: var(--primary-font);
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

.banner-image2 {
  width: 400px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banner-image2 img {
  object-fit: contain;
}

.banner-image2 img:nth-of-type(1) {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 75%;
  /* right: -5%; */
  transform: rotate(330deg);
}

.banner-image2 img:nth-of-type(2) {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 55%;
  left: 15%;
  transform: rotate(360deg);
  object-position: 100%;
}

/* FOOTER STYLING */

footer {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: grid;
  place-content: center;
}

.footer-container {
  width: 1120px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.footer-info {
  width: 384px;
  height: 95px;
  line-height: 1.5;
}

.footer-info p {
  color: var(--footer-text);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  padding-top: 2em;
  font-weight: 500;
}

.footer-nav {
  width: 295.5px;
  height: 100%;
}

.footer-nav h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  font-family: var(--primary-font);
}

.footer-nav ol {
  line-height: 3;
}

.footer-nav ol li {
  list-style-type: none;
}

.footer-nav a {
  text-decoration: none;
  color: var(--footer-text);
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 400;
}

.footer-socials {
  width: 173px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-social-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
